<div class="cards-container">
  <div class="col" id="sampleCard" >
    <div id="card" (dragstart)="drag($event)" draggable="true">card</div>
  </div>
  <div class="col" id="sampleCard1"> 
    <div id="card1"  (dragstart)="drag($event)" draggable="true">card1</div>
  </div>
  
  <div class="col" id="sampleCard2">
    <div id="card2"  (dragstart)="drag($event)" draggable="true">card2</div>
  </div>
  <div class="col" id="sampleCard3" >
    <div id="card3"  (dragstart)="drag($event)" draggable="true">card3</div>
  </div>
  <div class="col" id="sampleCard4">
    <div id="card4"  (dragstart)="drag($event)" draggable="true">card4</div>
  </div>
  <div class="col" id="sampleCard5" >
    <div id="card5"  (dragstart)="drag($event)" draggable="true">card5</div>
  </div>
</div>


<router-outlet></router-outlet>